PORT=4000
CORS_ORIGIN=http://localhost:5173,https://almacen-del-mono-32cm-seven.vercel.app
COOKIE_SAMESITE=None
MYSQL_ADDON_HOST=
MYSQL_ADDON_DB=
MYSQL_ADDON_USER=
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=
MYSQL_POOL_LIMIT=5
SESSION_MAX_REQUESTS=5
SESSION_WINDOW_MS=1800000
SESSION_IDLE_MS=1800000
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Almacén del Mono Admin
ADMIN_2FA_CODE=
ADMIN_TOTP_SECRET=
